@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*==== Colors ====*/
    --body-color: #dfe7fe;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /*==== Transitions ====*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --sidebar-color: #011a33;
    --primary-color: #242526;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
/*====Reusable Css ====*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.close .text{
    opacity: 0;
}
/*==== Sidebar ====*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 1000;
}

.sidebar.close{
    width: 88px;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;

}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.header .image-text .text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
   margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .menu{
    margin-top: 35px;
}
.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius:  6px;
    transition: var(--tran-05);
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);

}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
body.dark .sidebar .submenu a:hover{
    background-color: var(--primary-color-light);
}
body.dark .sidebar .submenu a:hover .icon,
body.dark .sidebar .submenu a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar{
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

.body.dark .menu-bar .mode i.sun{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}
.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 24px;
}
.home{
    position: relative;
    left: 50px;
    top: 50px;
    height: 100vh;
    width: calc(100% - 100px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size:30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.home .content{
    padding-left: 10px;
    height: calc(100% - 60px);
    width: 100%;
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}
.custom-navbar {
    position: fixed;
    top: 0;
    left: 80px; /* Adjust left position to accommodate sidebar */
    width: 100%;
    height: 60px; /* Adjust height as needed */
    background-color: #011a33; /* Adjust background color as needed */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    padding: 0 20px;
    z-index: 999; /* Ensure it stays above other content */
}
.custom-navbar .navbar-top {
    display: flex;
    justify-content: center;  /*Center the content horizontally */
    align-items: center;  /*Center the content vertically */
    height: 60px; /* Adjust height as needed */
    background-color: #011a33; /* Adjust background color as needed */
}
.custom-navbar .navbar-top a:hover{
    text-decoration: none;
}
.custom-navbar .navbar-top span{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.custom-navbar .navbar-top .logo {
    display: flex;
    justify-content: center;  /*Center the content horizontally*/
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.custom-navbar .navbar-top .logo .material-icons {
    font-size: 24px;
    margin-right: 10px;
}
